.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover,
.link:active,
.link:focus-visible {
  filter: brightness(150%);
}

.solution pre {
  line-height: 1;
}
