.container {
  color: var(--color-text-em);
  text-shadow: 0 0 5px var(--color-text-em);
  display: inline-flex;
  align-items: baseline;
  gap: 0.1rem;
}

.container button {
  align-self: center;
  margin-top: -2px;
}
